@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    height: 100%;
    box-sizing: border-box;
    font-family: montserrat, sans-serif;
}

:root {
    font-size: 2vh;
}

span {
    padding-left: 1vh;
    padding-right: 1vh;
    height: min-content;
    width: min-content;
}

templates {
    display: none;
}

html {
    font-family: Roboto;
}

.wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr;
    max-width: 100%;
    max-height: 100%;
}

.current-weather {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    justify-content: space-between;
    border: 1vh red solid;
}

.info {
    display: grid;
    width: max-content;
    height: min-content;
    padding: 2rem;
}

.description {
    font-size: 3rem;
}

.city {
    font-size: 1.5rem;
    padding-bottom: 1vh;
}

.time {
    padding-bottom: 3vh;
}

.temperature-wrapper {
    font-size: 4rem;
}

.button-wrapper {
    display: flex;
    padding: 1vh;
}

.button-wrapper>button {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
}

.info>.icon-wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 10vh;
}

.details {
    display: grid;
    width: max-content;
    height: max-content;
    padding: 3rem;
    gap: 5vh;
}

.detail {
    display: grid;
    grid-template-columns: min-content max-content;
    gap: 1vh;
}

.detail>.icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6vh;
    height: 6vh;
}

.data {
    display: grid;
    grid-template-rows: min-content min-content;
}

.value {}

.forecast-weather {
    border: 1vh blue solid;
    display: grid;
    grid-template-rows: min-content 1fr;
}

.buttons-wrapper {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    gap: 2vh;
    padding: 1vh;
}

.forecast-days,
.forecast-hours {
    padding: 1vh;
    cursor: pointer;
}

.panel-wrapper {
    display: flex;
    justify-content: start;
    padding: 1vh;
    align-items: center;
    border: 1px red solid;
}

.panel {
    display: grid;
    grid-template-columns: repeat(7, max-content);
    height: min-content;
    gap: 2vh;
}

.f {
    display: grid;
    gap: 1vh;
    padding: 1vh;
    text-align: start;
}

.f>.name {
    font-size: 1.8rem;
}

.temperature__for-day {
    display: grid;
}

.low {
    font-size: 1rem;
}

.max {
    font-size: 2.5rem;
    padding-bottom: 1vh;
}

@media screen and (max-aspect-ratio: 1/1.0000001) {}

@media screen and (min-aspect-ratio: 1/1) {}